// Colores principales Ohlins
$ohlins-yellow: rgb(245, 248, 50);;
$ohlins-yellow-light: #FFEA70;
$ohlins-yellow-dark: #C9A600;

$ohlins-black: #111111;
$ohlins-white: #FFFFFF;

// Grises
$ohlins-gray-900: #1A1A1A;
$ohlins-gray-800: #2A2A2A;
$ohlins-gray-700: #3A3A3A;
$ohlins-gray-600: #4A4A4A;
$ohlins-gray-400: #9CA3AF;
$ohlins-gray-300: #D1D5DB;

// Colores secundarios para botones o gradientes
$primary-color: $ohlins-yellow;
$secondary-color: $ohlins-yellow-light;