// FormTechnicalDataWithClientData.scss
// Estilos específicos para el formulario de datos técnicos con datos de cliente

.form-technical__cliente-data-no-questionnaire {
  padding: 0.5rem;
  background: #646360ff;
  border-radius: 4px;
  font-size: 0.8em;
  color: white;
}
